{% extends 'base.html' %}

{% block content %}

<div class="page-header">
    <h2>Saida Estoque
        <span class="pull-right">
            <a href="">
                <button class="btn btn-primary">
                    <span class="fa fa-plus">
                        Adicionar
                    </span>
                </button>
            </a>
        </span>
    </h2>
    {% if object_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ITEM</th>
                <th>NF</th>
                <th>DATA</th>
                <th>FUNCIONARIO</th>
                
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'estoque:estoque_saida_detail'  object.pk %}">{{object}}</a>    
                    </td>
                    
                    <td> {{ object.nf_formated}} </td>
                    <td> {{ object.created}} </td>
                    <td> {{ object.funcionario}} </td>
                </tr>
        
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <a href="" class="alert alert-warning">Sem itens na lista</a>
    {% endif %}
    
</div>
{% endblock content %}