{% extends "base.html" %}
{% load static %}
{% block content%}
<div class="page-header">
    <h2>Lista de Produtos
        <span class="pull-right">
            <a href="{% url 'produto:product_add' %}">
                <button type="button" class="btn btn-primary">
                    <span class="fa fa-plus"></span>Adicionar
                </button>
            </a>
        </span>
    </h2>

    {% if object_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Importado</th>
                <th>id</th>
                <th>NCM</th>
                <th>Produto</th>
                <th>Preço</th>
                <th class="text-center">Estoque</th>
                <th class="text-center">Estoque minimo</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        {% if object.imported %}
                        <span></span>
                          <i class="fa fa-check-circle ok"></i>
                        {% else %}
                        <span></span>
                          <i class="fa fa-minus-circle no"></i>
                        {% endif %}
                      </td>
                    
                    <td> {{ object.id}} </td>
                    <td> {{ object.ncm}} </td>
                    <td>
                        <a href="{{ object.get_absolute_url }}">{{ object.product }} 
                    </td>
                    <td>R$: <span class="pull-right">{{object.price}}</span> </td>
                    <td class="text-center"> {{ object.inventory }} </td>
                    <td class="text-center"> {{ object.minimum_inventory }} </td>
                    
                </tr>
        
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <a href="" class="alert alert-warning">Sem itens na lista</a>
    {% endif %}
</div>
{% endblock content %}